* {
  font-family: "Shanti", sans-serif !important;
  color: #f9f9f3;
  font-size: 17px;
}

.body {
  background-color: #f9f9f3;
  padding: 0;
  margin: 0;
}

.content {
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f3;
  padding-top: 50px;
}

.header {
  position: fixed;
  width: 100vw;
  text-align: center;
  top: 0;
  padding-top: 40px;
  margin-top: -20px;

  font-size: larger;
  font-weight: bolder;
  height: 50px;
  color: #00a69c;
  z-index: 3;
  background-color: #f9f9f3;
  display: inline-block;
  /* padding-top: 15px; */
}

.loader {
  border: 16px solid #f9f9f3;
  border-top: 16px solid #00a69c;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
